<div class="consulta-predial">
  <div class="logo-container">
    <img class="logo" src="/assets/images/logo_predio360.png" />
  </div>
  <hr class="separador" />
  <div class="item" (click)="seleccion('consulta-predial')">
    <p>Consulta predial</p>
    <span
      ><img src="/assets/images/flecha_gris.png" width="40px" height="40px"
    /></span>
  </div>
  <hr class="separador" />
  <div class="item" (click)="seleccion('consulta-seleccion')">
    <p>Consulta por selección espacial</p>
    <span
      ><img src="/assets/images/flecha_gris.png" width="40px" height="40px"
    /></span>
  </div>
  <hr class="separador" />
  <div class="item" (click)="seleccion('consulta-upl')">
    <p>Consulta por UPL</p>
    <span
      ><img src="/assets/images/flecha_gris.png" width="40px" height="40px"
    /></span>
  </div>
  <hr class="separador" />
  <div class="logo-container">
    <img class="logo-sdp" src="/assets/images/logo_sdp_blanco.png" />
  </div>
  <div class="barra-pie"></div>
</div>
