<div class="consulta-predial">
  <div class="logo-container">
    <img class="logo" src="/assets/images/logo_predio360.png" />
  </div>
  <hr class="separador" />
  <div class="item" (click)="seleccion('consulta-predial')">
    <p>Consulta predial</p>
    <span class="icono-item"></span>
  </div>
  <hr class="separador" />
  <div class="item" (click)="seleccion('consulta-seleccion-multiple')">
    <p>Consulta por selección espacial</p>
    <span class="icono-item"></span>
  </div>
  <hr class="separador" />
  <div class="item" (click)="seleccion('consulta-galeria')">
    <p>Consulta por proyectos</p>
    <span class="icono-item"></span>
  </div>
  <hr class="separador" />
  <div class="item" (click)="seleccion('agregar-capas')">
    <p>Agregar capa externa</p>
    <span class="icono-item"></span>
  </div>
  <hr class="separador" />
  <!--<div class="item" (click)="seleccion('consulta-upl')">
    <p>Consulta por UPL</p>
    <span class="icono-item"></span>
  </div>
  <hr class="separador" />-->
  <div class="logo-container">
    <img class="logo-sdp" src="/assets/images/logo_sdp_blanco.png" />
  </div>
  <div class="barra-pie"></div>
</div>
