<div class="consulta-predial">
  <div class="logo-container">
    <img class="logo" src="/assets/images/logo_predio360.png" />
  </div>
  <hr class="separador" />
  <div class="item" (click)="seleccion('consulta-direccion')">
    <p>Consulta por direccion</p>
    <span class="icono-item"></span>
  </div>
  <hr class="separador" />
  <div class="item" (click)="seleccion('consulta-matricula')">
    <p>Consulta por matrícula inmobiliaria</p>
    <span class="icono-item"></span>
  </div>
  <hr class="separador" />
  <div class="item" (click)="seleccion('consulta-chip')">
    <p>Consulta por CHIP</p>
    <span class="icono-item"></span>
  </div>
  <hr class="separador" />
  <div class="item" (click)="seleccion('consulta-cedula')">
    <p>Consulta por cédula catastral</p>
    <span class="icono-item"></span>
  </div>
  <hr class="separador" />
  <div class="logo-container">
    <div class="item-regresar" (click)="seleccion('menu')">
      <p>Regresar</p>
      <p class="icono-item-atras"></p>
    </div>
  </div>
  <app-pie-pagina></app-pie-pagina>
</div>
