<div class="consulta-predial">
  <div class="logo-container">
    <img class="logo" src="/assets/images/logo_predio360.png" />
  </div>
  <div class="titulo-seccion">
    <p>Consulta por dirección</p>
  </div>
  <hr class="separador" />
  <div class="form__group">
    <input type="input" class="form__field" placeholder="Ingrese una dirección" name="direccion" id='direccion' required />
    <label for="name" class="form__label">Dirección</label>
  </div>
  <hr class="separador" />
  <div class="logo-container">
    <button class="button-aqua" (click)="seleccion('consulta-predial')">
      regresar
    </button>
  </div>
  <div class="logo-container">
    <img class="logo-sdp" src="/assets/images/logo_sdp_blanco.png" />
  </div>
  <div class="barra-pie"></div>
</div>
