<div class="consulta-predial">
  <div class="logo-container">
    <img class="logo" src="/assets/images/logo_predio360.png" />
  </div>
  <div class="titulo-seccion">
    <p>Consulta por dirección</p>
  </div>
  <hr class="separador" />
  <div class="form__group">
    <label for="direccion" class="form__label label-verde">Dirección</label>
    <p class="form__field" (click)="openPopup()">{{ direccion }}</p>
  </div>
  <br/>
  <!--<div class="form__group text-center">
    <button class="button-predio fill" (click)="consultar()">Consultar</button>
  </div>-->
  <hr class="separador" />
  <div class="logo-container">
    <div class="item-regresar" (click)="seleccion('consulta-predial')">
      <p>Regresar</p>
      <p class="icono-item-atras"></p>
    </div>
  </div>
  <app-pie-pagina></app-pie-pagina>
</div>
<div class="popup-overlay" *ngIf="isPopupOpen">
  <div class="popup-content">
    <app-crear-direccion
      [direccionInput]="consDireccion"
      (accion)="cambioDireccion($event)"
    ></app-crear-direccion>
    <div class="form__group text-center">
      <button class="button-predio fill" (click)="closePopup()">Consultar</button>&nbsp;&nbsp;
      <button class="button-predio fill" (click)="closePopupCancelar()">Cancelar</button>
    </div>
  </div>
</div>
