<ng-container *ngIf="datos">
  <p>
    Dirección:
    <select style="background: #000000; color: #ffffff;" class="form__field" [(ngModel)]="currentIndex">
      <option *ngFor="let d of datos; let i = index" [value]="i">
        {{ d.DIRECCION }}
      </option>
    </select>
  </p>
  <p>Código catastral: {{ datos[currentIndex].CEDULA_CATASTRAL }}</p>
  <p>Matrícula: {{ datos[currentIndex].MATRICULA_INMOBILIARIA }}</p>
  <p>CHIP: {{ datos[currentIndex].CHIP }}</p>
  <p>Cédula catastral: {{ datos[currentIndex].CEDULA_CATASTRAL }}</p>
  <p>Propiedad:</p>
  <p>Datos de propiedad:</p>
</ng-container>
<br />
