<div class="consulta-predial">
  <div class="logo-container">
    <img class="logo" src="/assets/images/logo_predio360.png" />
  </div>
  <div class="titulo-seccion">
    <p>Agregar capa externa</p>
  </div>
  <hr class="separador" />
  <div class="form__group">
    <input
      type="input"
      class="form__field"
      placeholder=""
      name="nombre"
      id="nombre"
      required
      [(ngModel)]="servicio.nombre"
    />
    <label for="servicio" class="form__label">Nombre capa</label>
  </div>
  <div class="form__group">
    <input
      type="input"
      class="form__field"
      placeholder=""
      name="servicio"
      id="servicio"
      required
      [(ngModel)]="servicio.url"
    />
    <label for="servicio" class="form__label">URL servicio REST</label>
  </div>
  <div class="form__group text-center">
      <button class="button-predio fill" (click)="agregar()">Agregar</button>
  </div>
  <hr class="separador" />
  <div class="titulo-seccion">
    <p>Agregar capa precargada</p>
  </div>
  <ul>
    <ng-container *ngFor="let capa of capas">
      <li class="titulo-azul">
        <button class="btn warning" (click)="agregarCapa(capa)" *ngIf="capa.estado != 1">add</button>
        <button class="btn danger" (click)="removerCapa(capa)" *ngIf="capa.estado == 1">rem</button>
        &nbsp;{{ capa.label }}
      </li>
    </ng-container>
  </ul>
  <hr class="separador" />
  <div class="logo-container">
    <div class="item-regresar" (click)="seleccion('menu')">
      <p>Regresar</p>
      <p class="icono-item-atras"></p>
    </div>
  </div>
  <app-pie-pagina></app-pie-pagina>
  <br/>
</div>
