<div class="map-container">
    <div #mapView id="mapView"></div>
    <app-consulta *ngIf="opcion == 'menu' && !resultados" (accion)="accionMenu($event)"></app-consulta>
    <app-consulta-predial *ngIf="opcion == 'consulta-predial' && !resultados" (accion)="accionMenu($event)"></app-consulta-predial>
    <app-consulta-direccion *ngIf="opcion == 'consulta-direccion' && !resultados" (accion)="accionMenu($event)"></app-consulta-direccion>
    <app-consulta-cedula *ngIf="opcion == 'consulta-cedula' && !resultados" (accion)="accionMenu($event)"></app-consulta-cedula>
    <app-consulta-chip *ngIf="opcion == 'consulta-chip' && !resultados" (accion)="accionMenu($event)"></app-consulta-chip>
    <app-consulta-matricula *ngIf="opcion == 'consulta-matricula' && !resultados" (accion)="accionMenu($event)"></app-consulta-matricula>
    <app-consulta-seleccion-espacial *ngIf="opcion == 'consulta-seleccion' && !resultados" (accion)="accionMenu($event)"></app-consulta-seleccion-espacial>
    <app-consulta-upl *ngIf="opcion == 'consulta-upl' && !resultados" (accion)="accionMenu($event)"></app-consulta-upl>
    <app-resultados *ngIf="resultados" (accion)="regresarResultados($event)" [valores]="valoresResultados"></app-resultados>
    <app-resultados-estadisticas *ngIf="resultados"></app-resultados-estadisticas>
    <app-toolbar (accion2d3d)="accion2d3d($event)"></app-toolbar>
</div>