<div class="map-container">
    <app-loading-bar *ngIf="countSpinner > 0"></app-loading-bar>
    <div #mapView id="mapView"></div>
    <ng-container>
        <app-consulta *ngIf="opcion == 'menu' && !resultados" (accion)="accionMenu($event)"></app-consulta>
        <app-consulta-predial *ngIf="opcion == 'consulta-predial' && !resultados" (accion)="accionMenu($event)"></app-consulta-predial>
        <app-consulta-direccion *ngIf="opcion == 'consulta-direccion' && !resultados" (accion)="accionMenu($event)" (accionConsultar)="consultaDireccion($event)"></app-consulta-direccion>
        <app-consulta-cedula *ngIf="opcion == 'consulta-cedula' && !resultados" (accion)="accionMenu($event)" (accionConsultar)="consultaCedula($event)"></app-consulta-cedula>
        <app-consulta-chip *ngIf="opcion == 'consulta-chip' && !resultados" (accion)="accionMenu($event)" (accionConsultar)="consultaChip($event)"></app-consulta-chip>
        <app-consulta-matricula *ngIf="opcion == 'consulta-matricula' && !resultados" (accion)="accionMenu($event)" (accionConsultar)="consultaMatricula($event)"></app-consulta-matricula>
        <app-consulta-seleccion-espacial *ngIf="opcion == 'consulta-seleccion-multiple' && !resultados" (accion)="accionMenu($event)" (accionConsultar)="consultaPorCapa($event)" (buffer)="setBuffer($event)"></app-consulta-seleccion-espacial>
        <!--<app-consulta-upl *ngIf="opcion == 'consulta-upl' && !resultados" (accion)="accionMenu($event)"></app-consulta-upl>-->
        <app-consulta-galeria *ngIf="opcion == 'consulta-galeria' && !resultados" (accion)="accionMenu($event)" (seleccionProyecto)="seleccionProyectoGaleria($event)"></app-consulta-galeria>
        <!--<app-resultados *ngIf="resultados" (accion)="regresarResultados($event)" [valores]="valoresResultados" [valorPuntoClick]="valorPuntoClick"></app-resultados>-->
        <app-resultados *ngIf="resultados" (accion)="regresarResultados($event)" [parametros]="valoresResultados" (loteSeleccionado)="seleccionarPredioByLote($event)" (cambioTipoConsulta)="accionMenu($event)" (cambioCapaBuffer)="cambioCapaBuffer($event)"></app-resultados>
        <!--<app-resultados-estadisticas *ngIf="resultados"></app-resultados-estadisticas>-->
    </ng-container>
    <app-toolbar (accion2d3d)="accion2d3d($event)" (capasReferencia)="cargarCapasDeReferencia($event)" (anadirCapaReferencia)="anadirCapaReferencia($event)"></app-toolbar>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.3)" size = "medium" color = "#fff" type = "ball-circus" [fullScreen] = "true" style="z-index: 999999999999;"></ngx-spinner>
</div>