<div class="panel">
  <div class="contenido" #contenido>
    <div class="seccion-estadistica">
      <img src="/assets/images/equipamiento.png" class="icono-estadistica" />
      <label>Equipamiento</label>
    </div>
    <div class="seccion-estadistica-f">
      <img src="/assets/images/parques.png" class="icono-estadistica" />
      <label>Parques</label>
    </div>
    <div class="seccion-estadistica">
      <img src="/assets/images/transporte.png" class="icono-estadistica" />
      <label>Transporte</label>
    </div>
    <div class="seccion-estadistica-i">
      <img src="/assets/images/socioeco.png" class="icono-estadistica" />
      <label>Centros económicos</label>
    </div>
  </div>
  <div class="scroll-izquierda" (mouseover)="desplazarIzquierda()"></div>
  <div class="scroll-derecha" (mouseover)="desplazarDerecha()"></div>
</div>
