<p class="titulo-azul">Seleccionar POT:</p>
<div>
  <label>
    <input type="radio" name="pot" value="190" (change)="cambioPot(190)" />
    Pot 190
  </label>
  <label>
    <input type="radio" name="pot" value="555" (change)="cambioPot(555)" />
    Pot 555
  </label>
</div>
<ng-container *ngIf="licencias.length == 0">
  <p>No se encontró información relacionada con el predio.</p>
</ng-container>
<ng-container *ngIf="licencias.length > 0">

  <p class="titulo-azul">Licencia:</p>
  <select
    style="background: #000000; color: #ffffff"
    class="form__field"
    [(ngModel)]="currentIndex"
  >
    <option value="-1">Seleccionar...</option>
    <option *ngFor="let licencia of licencias; let i = index" [value]="i">
      {{ licencia[metaLicencias.labelSeleccion] }}
    </option>
  </select>
  <ng-container *ngIf="currentIndex >= 0">
    <ng-container
      *ngFor="let titulo of sortBy(metaLicencias.atributos, 'orden')"
    >
      <container-element [ngSwitch]="titulo.formato.tipo">
        <some-element *ngSwitchCase="'fecha'">
          <ng-container
            *ngIf="
              licencias[currentIndex][titulo.name] ==
                titulo.formato.sinInformacion &&
              titulo.formato.mostrarSinInformacion == 'S'
            "
          >
            <p>
              <strong
                class="titulo-azul"
                [innerHTML]="tituloHtml(titulo.alias)"
              ></strong>
              No registra información.
            </p>
          </ng-container>
          <ng-container
            *ngIf="
              !(
                licencias[currentIndex][titulo.name] ==
                titulo.formato.sinInformacion
              )
            "
          >
            <p>
              <strong
                class="titulo-azul"
                [innerHTML]="tituloHtml(titulo.alias)"
              ></strong>
              {{ licencias[currentIndex][titulo.name] | date : "dd/MM/yyyy" }}
            </p>
          </ng-container>
        </some-element>
        <some-element *ngSwitchCase="'numero'">
          <ng-container
            *ngIf="
              licencias[currentIndex][titulo.name] ==
                titulo.formato.sinInformacion &&
              titulo.formato.mostrarSinInformacion == 'S'
            "
          >
            <p>
              <strong
                class="titulo-azul"
                [innerHTML]="tituloHtml(titulo.alias)"
              ></strong>
              No registra información.
            </p>
          </ng-container>
          <ng-container
            *ngIf="
              !(
                licencias[currentIndex][titulo.name] ==
                titulo.formato.sinInformacion
              )
            "
          >
            <p>
              <strong
                class="titulo-azul"
                [innerHTML]="tituloHtml(titulo.alias)"
              ></strong>
              {{ titulo.formato.pre
              }}{{
                licencias[currentIndex][titulo.name]
                  | customDecimalFormat : titulo.formato.decimales
              }}<span [innerHTML]="htmlSecure(titulo.formato.post)"></span>
            </p>
          </ng-container>
        </some-element>
        <some-element *ngSwitchDefault>
          <ng-container
            *ngIf="
              licencias[currentIndex][titulo.name] ==
                titulo.formato.sinInformacion &&
              titulo.formato.mostrarSinInformacion == 'S'
            "
          >
            <p>
              <strong class="titulo-azul">{{ titulo.alias }}:</strong>
              No registra información
            </p>
          </ng-container>
          <ng-container
            *ngIf="
              !(
                licencias[currentIndex][titulo.name] ==
                titulo.formato.sinInformacion
              )
            "
          >
            <p>
              <strong class="titulo-azul">{{ titulo.alias }}:</strong>
              {{ licencias[currentIndex][titulo.name] }}
            </p>
          </ng-container>
        </some-element>
      </container-element>
    </ng-container>
  </ng-container>
</ng-container>
