<div class="container-home">
  <div class="container-login">
    <!--<div class="form__group">
      <input
        type="usuario"
        class="form__field"
        name="usuario"
        id="usuario"
        placeholder=""
        required
        [(ngModel)]="usuario.usuario"
      />
      <label for="usuario" class="form__label">Usuario</label>
    </div>
    <div class="form__group">
      <input
        type="password"
        class="form__field"
        name="password"
        id="password"
        placeholder=""
        required
        [(ngModel)]="usuario.clave"
      />
      <label for="password" class="form__label">Contraseña</label>
    </div>-->
    <div class="form__group">
      <p>Estimado ciudadano: Predio 360 es desarrollado por las Secretaría Distrital de Planeación para sus fines misionales. Por protocolo, la información disponible para la consulta no debe ser compartida a terceros sin autorización, siendo de uso exclusivo al interior de la entidad.</p>
    </div>
    <div class="form__group start-button-container">
      <!--<button
        class="start-button"
        (click)="validar()"
      >
        Validar
      </button>
      <button *ngIf="session"
        class="start-button"
        [routerLink]="['/3d']"
        routerLinkActive="router-link-active"
      >
        Iniciar Consulta
      </button>-->
      <button
        class="start-button"
        [routerLink]="['/3d']"
        routerLinkActive="router-link-active">
        Iniciar Consulta
      </button>
    </div>
  </div>
  <div class="logo">
    <img src="/assets/images/logo_grande.png" />
  </div>
  <div class="logo-sdp">
    <img src="/assets/images/logo_sdp_b.png" />
  </div>
</div>
