<p>
  Seleccionar capa:
  <select
    style="background: #000000; color: #ffffff"
    class="form__field"
    [(ngModel)]="currentIndexCapa"
    (change)="seleccionarCapaBuffer()"
  >
    <option value="-1">Seleccionar...</option>
    <option *ngFor="let d of capas; let i = index" [value]="i">
      {{ d.nombre }}
    </option>
  </select>
</p>
<button (click)="iniciarSeleccion()" *ngIf="!seleccion" class="button-aqua">Iniciar selección</button>
<button (click)="detenerSeleccion()" *ngIf="seleccion" class="button-aqua">Detener selección</button>
