<div class="consulta-predial">
  <div class="logo-container">
    <img class="logo" src="/assets/images/logo_predio360.png" />
  </div>
  <div class="titulo-seccion">
    <p>Consulta por UPL</p>
  </div>
  <hr class="separador" />
  <div class="form__group">
    <input
      type="input"
      class="form__field"
      placeholder="Ingrese una UPL"
      name="upl"
      id="upl"
      required
    />
    <label for="upl" class="form__label">UPL</label>
  </div>
  <hr class="separador" />
  <div class="logo-container">
    <button class="button-aqua" (click)="seleccion('menu')">
      regresar
    </button>
  </div>
  <div class="logo-container">
    <img class="logo-sdp" src="/assets/images/logo_sdp_blanco.png" />
  </div>
  <div class="barra-pie"></div>
</div>
