<div class="consulta-predial">
  <div class="logo-container">
    <img class="logo" src="/assets/images/logo_predio360.png" />
  </div>
  <hr class="separador" />
  <div class="panel" [ngClass]="{ active: true }">
    <div class="panel-header">
      Selección de Predio
    </div>
    <div class="panel-content">
      <p>
        Dirección:
        <select style="background: #000000; color: #ffffff;" class="form__field" [(ngModel)]="currentIndex" (change)="seleccionarPredio()">
          <option value="-1">Seleccionar...</option>
          <option *ngFor="let d of datos; let i = index" [value]="i">
            {{ d.GN_DIRECCION }}
          </option>
        </select>
      </p>
    </div>
  </div>
  <app-resultados-predio *ngIf="currentIndex >= 0" [predio]="predioSeleccionado"></app-resultados-predio>
  <div class="panel" [ngClass]="{ active: isECPanelExpanded }" *ngIf="currentIndex >= 0">
    <div class="panel-header" (click)="togglePanel('EC')">
      Elementos cercanos
    </div>
    <div class="panel-content">
      <app-resultados-cercanos-predio *ngIf="currentIndex >= 0" [predio]="predioSeleccionado"></app-resultados-cercanos-predio>
    </div>
  </div>

  <hr class="separador" />
  <div class="logo-container">
    <div class="item-regresar" (click)="regresar()">
      <p>Regresar</p>
      <p class="icono-item-atras"></p>
    </div>
  </div>
  <div class="logo-container">
    <img class="logo-sdp" src="/assets/images/logo_sdp_blanco.png" />
  </div>
  <div class="barra-pie"></div>
</div>
