<div class="consulta-predial">
    <div class="logo-container">
      <img class="logo" src="/assets/images/logo_predio360.png" />
    </div>
    <div class="titulo-seccion">
      <p>Consulta por CHIP</p>
    </div>
    <hr class="separador" />
    <div class="form__group">
      <input type="input" class="form__field" placeholder="Ingrese el CHIP" name="chip" id='chip' required />
      <label for="chip" class="form__label">CHIP</label>
    </div>
    <hr class="separador" />
    <div class="logo-container">
      <div class="item-regresar" (click)="seleccion('consulta-predial')">
        <p>Regresar</p>
        <p class="icono-item-atras"></p>
      </div>
    </div>
    <div class="logo-container">
      <img class="logo-sdp" src="/assets/images/logo_sdp_blanco.png" />
    </div>
    <div class="barra-pie"></div>
  </div>
  