<div class="consulta-predial">
    <div class="logo-container">
      <img class="logo" src="/assets/images/logo_predio360.png" />
    </div>
    <div class="titulo-seccion">
      <p>Consulta por selección espacial</p>
    </div>
    <hr class="separador" />
      <p class="texto-parrafo">Por favor seleccione el tamaño del buffer y haga clic sobre el mapa para seleccionar los predios que desea consultar.</p>
      <div class="panel-buffer" id="bufferNum"></div>
      <br/>
      <div class="form__group text-center">
        <button class="button-predio raise text-center" (click)="consultar()">Consultar</button>
      </div>
    <hr class="separador" />
    <div class="logo-container">
      <div class="item-regresar" (click)="seleccion('menu')">
        <p>Regresar</p>
        <p class="icono-item-atras"></p>
      </div>
    </div>
    <app-pie-pagina></app-pie-pagina>
  </div>
  