<div class="consulta-predial">
    <div class="logo-container">
      <img class="logo" src="/assets/images/logo_predio360.png" />
    </div>
    <div class="titulo-seccion">
      <p>Consulta por selección espacial</p>
    </div>
    <hr class="separador" />
    
    <hr class="separador" />
    <div class="logo-container">
      <button class="button-aqua" (click)="seleccion('menu')">
        regresar
      </button>
    </div>
    <div class="logo-container">
      <img class="logo-sdp" src="/assets/images/logo_sdp_blanco.png" />
    </div>
    <div class="barra-pie"></div>
  </div>
  