.texto-parrafo {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

.panel-buffer {
    background: none;
    height: fit-content;
    margin: 18px;
    color: aqua;
    width: 90%;
    margin: 2.5em auto 0;
}