<div class="consulta-predial">
    <div class="logo-container">
      <img class="logo" src="/assets/images/logo_predio360.png" />
    </div>
    <div class="titulo-seccion">
      <p>Consulta por selección espacial</p>
    </div>
    <hr class="separador" />
      <p class="texto-parrafo">Por favor realice clic sobre el mapa, en el predio que desea consultar.</p>
    <hr class="separador" />
    <div class="logo-container">
      <div class="item-regresar" (click)="seleccion('menu')">
        <p>Regresar</p>
        <p class="icono-item-atras"></p>
      </div>
    </div>
    <div class="logo-container">
      <img class="logo-sdp" src="/assets/images/logo_sdp_blanco.png" />
    </div>
    <div class="barra-pie"></div>
  </div>
  