.toolbar {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 100vh;
    max-height: 100vh;
    background-color: #000000bb;
    z-index: 99999999;
    right: 0;
    top: 0;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

.toolbar-separator {
    margin: 0;
}

fa-icon:hover {
    color: greenyellow;
}

.boton-menu {
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    padding-top: 15px;
    color: #BBBBBB;
}

.boton-menu:hover {
    cursor: pointer;
    color: aqua;
}