<ng-container *ngFor="let est of estadisticas">
  <p>
    <strong class="titulo-azul">{{ est.categoriaLabel }}</strong>
  </p>
  <ng-container *ngFor="let estValores of est.valores | SearchPipeGeneral: buscarTexto">
    <table style="border: none; width: 100%; text-align: center">
      <tr>
        <th colspan="3">
          <p class="titulo-blanco">
            {{ estValores[estadisticasAtributos.nombre] | titlecase }}
          </p>
        </th>
      </tr>
      <tr>
        <td style="width: 33%;">
          <img
            [src]="estadisticasAtributos.imagenTiempo"
            style="max-width: 60px"
          />
        </td>
        <td style="width: 33%;">
          <p class="titulo-blanco">
            {{
              estValores[estadisticasAtributos.tiempo] | customDecimalFormat : 0
            }}
            min
          </p>
        </td>
        <td style="width: 34%;">
          <p><strong>Tiempo Caminando</strong></p>
        </td>
      </tr>
      <tr>
        <td>
          <img
            [src]="estadisticasAtributos.imagenDistancia"
            style="max-width: 60px"
          />
        </td>
        <td>
          <p class="titulo-blanco">
            {{
              estValores[estadisticasAtributos.distancia]
                | customDecimalFormat : 0
            }}
            m
          </p>
        </td>
        <td>
          <p><strong>Distancia</strong></p>
        </td>
      </tr>
    </table>
  </ng-container>
  <hr class="separador" />
</ng-container>
